<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title></title>
    <meta charset="utf-8">
</head>
<body bgcolor="808080">
<img alt="Corinthians divulga a numeração do elenco para a temporada 2020" class="n3VNCb" src="https://www.vozdafiel.com.br/RepImg/corinthians-divulga-a-numeracao-do-elenco-para-a-temporada-2020.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 433px; height: 288.513px; margin: 0px;">
    <header>
        <h1>Corinthians</h1>
        <p><b>ELENCO</b></p>
            <ul>
                <li><b>Goleiros</b></li>
                <p>Cássio / Walter / Guilherme / Matheus Donelli</p>
                <li><b>Laterais</b></li>
                <p>Fagner / Lucas Piton / Michel Macedo / Sidcley</p>
                <li><b>Zagueiros</b></li>
                <p>Bruno Méndez / Gil / Danilo Avelar / Léo Santos</p>
                <li><b>Meio-campistas</b></li>
                <p>Ángelo Araos / Camacho / Cantillo / Éderson / Gabriel / Luan / Matheus Vital / Ramiro / Roni / Xavier / Ruan Oliveira / Gabriel Pereira / Otero</p>
                <li><b>Atacantes</b></li>
                <p>Everaldo / Jô / Matheus Davó / Mauro Boselli / Léo Natel / Gustavo Mosquito</p>        
                <li><b>Técnico</b></li>
                <p>Mancini</p>
            </ul>
        </nav>
    </header>
</body>
</html>