<!DOCTYPE html>
<html>
    <head>
     <meta charset="UTF-8"/>
        <title>Botafogo</title>
    </head>
    <body>
        <img src="\static\images\topcorinthians.jpg"><br/>
        <img src="\static\images\nomecorinthians.jpg"><br/>
        <h1>ELENCO</h1><br/>
        <h3>Goleiro</h3><br/>
        <img src="\static\images\corinthians\goleiros.jpg"><br/>
        <h3>Zagueiro</h3><br/>
        <img src="\static\images\corinthians\zagueiros.jpg"><br/>
        <h3>Lateral</h3><br/>
        <img src="\static\images\corinthians\laterais.jpg"><br/>
        <h3>Meias</h3><br/>
        <img src="\static\images\corinthians\meias.jpg"><br/>
        <h3>Atacantes</h3><br/>
        <img src="\static\images\corinthians\atacantes.jpg"><br/>

       

    </body>
</html>