<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Quartas de Final - Copa PALLM</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico"/> 
    <link rel="stylesheet" type="text/css" href="/static/css/estilo.css">
</head>
<body>
    <center>
    <img src="/static/images/toppage.png" class="imgtop">
    </center>
    <h1 class="padrao">Tabela</h1>
    <h2 class="padrao">Quartas de Final - Copa PALLM</h2>
    
    <table border rules=none class="tabela" align="center" bordercolor="#DCDCDC">
        <tr>
            <td colspan='3'>QUA 02/12/2020 Allianz Parque 19:15 </td>
        </tr>

        <tr height="100" >
            <th width="250">
                <a href="palmeiras">
                <img src="/static/images/palmeiras.jpg" class="img" ></a> 
                Palmeiras
            </th>

            <th width= "150"> X </th>
            
            <th width="250">
                <a href="fluminense">
                <img src="/static/images/flu.png" class="img" ></a> 
                Fluminense
            </th>
        </tr>

    </table><br>
       
    <table border rules=none align="center" class="tabela" bordercolor="#DCDCDC">
        <tr>
            <td colspan='3'align="center">QUI 03/12/2020 Neo Química Arena 21:30 </td>
        </tr>    

        <tr height="100">
            <th width="250">
                <a href="corinthians">
                <img src="/static/images/corinthians.png" class="img"> </a> 
                Corinthians
            </th>
           
            <th width="150"> X </th>
            <th width="250">
                <a href="botafogo">
                <img src="/static/images/botafogo.png" class="img" ></a> 
                Botafogo
            </th>
         </tr>  
    </table> 
    <br/>
    <br/>
    <center>
    <h3><a href="oitavas" class="padrao">Confira os resultados das oitavas de final - Copa PALLM</a></h3>
    </center>
    <br/>
    <br>
    <br>
    <center>
        <h2 class="padrao">História da Copa PALLM</h2> 
    </center>
    <br>
    
    <table width="950" align="center">
        <tr>
            <td class="history">
            A Copa PALLM é a principal competição de futebol entre clubes profissionais do Rio de Janeiro e São Paulo, organizada pelos alunos do grupo acadêmico  PALLM (FACULDADE IMPACTA DE TECNOLOGIA, CURSO BANCO DE DADOS) desde 2020. É a competição de clubes mais importante da região sudeste, sendo um dos torneios mais prestigiados do país, juntamente com a Copa do Brasil. O nome do torneio é uma homenagem aos principais líderes do grupo: Pabllo Raniel Pereira Alves (Cocão) 
            Alexandre (Mudinho)
            Leonardo (Léo)
            Luiz (O Representante)
            Marcelo (O Papai)
            </td>
        </tr>
    </table>

<footer class="footer">
    <img class="imgft" src="/static/images/copaPALLM-removed.png"> 
    &copy; 2020 Copa PALLM | Todos os direitos reservados.
</footer>
</body>

</html>