<!DOCTYPE html>
<html>    
    <head>
        <meta charset="UTF-8">
        <title>Oitavas de Final - Copa PALLM</title>
        <link rel="shortcut icon" href="/static/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/static/css/estilo.css"/>
        
    </head>
    <body>
        
        <img class="imgtop" src="/static/images/toppage.png">
        
        <h1 class="padrao">Classificação</h1><br/>
        <h2 class="padrao">Oitavas de final - Copa PALLM</h2><br/>
        
        <table class="tabela" border="1" align="center" bordercolor="#DCDCDC">
            <tr height="100" >
                <th width="250"><a href="palmeiras"><img class="img" src="/static/images/palmeiras.jpg"></a> Palmeiras</th>
                <th>3 X 0</th>
                <th width="250"><a href="flamengo"><img class="img" src="/static/images/flamengo.png"></a> Flamengo</th>
            </tr>
            <tr height="100">
                <th width="250"><a href="corinthians"><img class="img" src="/static/images/corinthians.png"></a> Corinthians</th>
                <th width= "150">1 X 0</th>
                <th width="250"><a href="vasco"><img class="img" src="/static/images/vasco.png"></a> Vasco</th>
            </tr>
            <tr height="100">
                <th width="250"><a href="saopaulo"><img class="img" src="/static/images/spfc.png"></a> São Paulo</th>
                <th>1 X 3 </th>
                <th width="250"><a href="fluminense"><img class="img" src="/static/images/flu.png"></a> Fluminense</th>
            </tr>
            <tr height="100">
                <th width="250"><a href="santos"><img class="img" src="/static/images/logo-santos.png"></a> Santos</th>
                <th>0 X 5</th>
                <th width="250"><a href="botafogo"><img class="img" src="/static/images/botafogo.png"></a> Botafogo</th>
            </tr>
        </table>
        <br/>
        <br/>
        <h3 class="padrao"><a href="index" class="padrao">Retorne a página inicial</a></h3> 
        <br/>
        <br/>
        <h2 class="padrao">História da Copa PALLM</h2> 
        <table width="950" align="center">
            <tr>
                <td class="history">
                A Copa PALLM é a principal competição de futebol entre clubes profissionais do Rio de Janeiro e São Paulo, organizada pelos alunos do grupo acadêmico  PALLM (FACULDADE IMPACTA DE TECNOLOGIA, CURSO BANCO DE DADOS) desde 2020. É a competição de clubes mais importante da região sudeste, sendo um dos torneios mais prestigiados do país, juntamente com a Copa do Brasil. O nome do torneio é uma homenagem aos principais líderes do grupo: Pabllo Raniel Pereira Alves (Cocão) 
                Alexandre (Mudinho)
                Leonardo (Léo)
                Luiz (O Representante)
                Marcelo (O Papai)
                </td>
            </tr>
        </table>

        <footer class="footer">
            <img class="imgft" src="/static/images/copaPALLM-removed.png"> 
            &copy; 2020 Copa PALLM | Todos os direitos reservados.
        </footer>    
    </body>

</html>