<!DOCTYPE html>
<html>
    <head>
     <meta charset="UTF-8"/>
        <title>Palmeiras</title>
    </head>
    <body>
        <img src="\static\images\nomepalmeiras.png"><br/>
        <img src="\static\images\toppalmeiras.jpg"><br/>
        <h1>ELENCO</h1><br/>
        <h3>Goleiro</h3><br/>
        <img src="\static\images\palmeiras\goleiros.jpg"><br/>
        <h3>Zagueiro</h3><br/>
        <img src="\static\images\palmeiras\zagueiros.jpg"><br/>
        <h3>Lateral</h3><br/>
        <img src="\static\images\palmeiras\laterais.jpg"><br/>
        <h3>Meias</h3><br/>
        <img src="\static\images\palmeiras\meias.jpg"><br/>
        <h3>Atacantes</h3><br/>
        <img src="\static\images\palmeiras\atacantes.jpg"><br/>

       

    </body>
</html>