<!DOCTYPE html>
<html>
    <head>
     <meta charset="UTF-8"/>
        <title>Santos</title>
    </head>
    <body>
        <img src="\static\images\nomesantos.png"><br/>
        <img src="\static\images\topsantos.jpg"><br/>
        <h1>ELENCO</h1><br/>
        <h3>Goleiro</h3><br/>
        <img src="\static\images\santos\goleiros.jpg"><br/>
        <h3>Zagueiro</h3><br/>
        <img src="\static\images\santos\zagueiros.jpg"><br/>
        <h3>Lateral</h3><br/>
        <img src="\static\images\santos\laterais.jpg"><br/>
        <h3>Meias</h3><br/>
        <img src="\static\images\santos\meias.jpg"><br/>
        <h3>Atacantes</h3><br/>
        <img src="\static\images\santos\atacantes.jpg"><br/>

       

    </body>
</html>