<!DOCTYPE html>
<html>
    <head>
     <meta charset="UTF-8"/>
        <title>São Paulo</title>
    </head>
    <body>
        <img src="\static\images\nomesaopaulo.jpg"><br/>
        <img src="\static\images\topsaopaulo.jpg"><br/>
        <h1>ELENCO</h1><br/>
        <h3>Goleiro</h3><br/>
        <img src="\static\images\saopaulo\goleiros.jpg"><br/>
        <h3>Zagueiro</h3><br/>
        <img src="\static\images\saopaulo\zagueiros.jpg"><br/>
        <h3>Lateral</h3><br/>
        <img src="\static\images\saopaulo\laterais.jpg"><br/>
        <h3>Meias</h3><br/>
        <img src="\static\images\saopaulo\meias.jpg"><br/>
        <h3>Atacantes</h3><br/>
        <img src="\static\images\saopaulo\atacantes.jpg"><br/>

       

    </body>
</html>