<!DOCTYPE html>
<html>
    <head>
     <meta charset="UTF-8"/>
        <title>Vasco</title>
    </head>
    <body>
        <img src="\static\images\Topovasco.png"><br/>
        <img src="\static\images\Nome Vasco.png"><br/>
        <h1>ELENCO</h1><br/>
        <h3>Goleiro</h3><br/>
        <img src="\static\images\Vasco\Goleiros.jpg"><br/>
        <h3>Zagueiro</h3><br/>
        <img src="\static\images\Vasco\Zagueiros.jpg"><br/>
        <h3>Lateral Direita</h3><br/>
        <img src="\static\images\Vasco\Lateral Direitos.jpg"><br/>
        <h3>Lateral Esquerda</h3><br/>
        <img src="\static\images\Vasco\Lateral Esquerdos.jpg"><br/>
        <h3>Volante</h3><br/>
        <img src="\static\images\Vasco\Volantes.jpg"><br/>
        <h3>Meia</h3><br/>
        <img src="\static\images\Vasco\Meio Campistas.jpg"><br/>
        <h3>Atacante</h3><br/>
        <img src="\static\images\Vasco\Atacantes.jpg"><br/>

       

    </body>
</html>